/* global classes */

.title-text{
    font: normal bold 50px/72px var(--kufam);
}

.text-uppercase{
    text-transform: uppercase;
}

/* buttons */

.button{
    padding: .8rem 2.2rem;
    font: normal 500 16px/20px var(--kufam);
    position: relative;
    border: 3px solid-transparent;
    border-radius: 4px;
}

.button.primary-button{
    background: var(--gradient-color);
    background-clip: padding-box;
    color: whitesmoke;
    transition: background .6s ease;
    box-shadow: var(--box-shadow);
}

.button.primary-button:hover{
    background: whitesmoke;
    background-clip: padding-box;
    color: black;
}

.button.primary-button::after, .button.secondary-button::after{
    position: absolute;
    top: -2px; left: -2px;
    bottom: -2px; right: -2px;
    background: black;
    content: '';
    z-index: -1;
    border-radius: 8px;
}

.button.secondary-button{
    background: white;
    background-clip: padding-box;
    transition: background .6s ease;
}

.button.secondary-button:hover{
    background: var(--gradient-color);
    color: whitesmoke;
    box-shadow: var(--box-shadow);
}

.button.linkedin-button{
    background: #2867B2;
    background-clip: padding-box;
    transition: background .6s ease;
    color: white;
    border-radius: 8px;
    border-color: black;
    border-width: 2px;
}

.button.linkedin-button:hover{
    background: var(--gradient2-color);
    color: whitesmoke;
    box-shadow: var(--box-shadow);
}

p.para{
    color: var(--text-color);
    font: normal 550 16px/25px var(--kufam);
}

button:focus,
button:active
button:hover
.btn:active,
.btn.active{
    outline: 0px !important;
    box-shadow: none;
}

.title-h1{
    font: normal bold 39px/ 40px var(--kufam);
}

.navbar_fixed{
    position: fixed;
    width: 100%;
    top: -1px;
    left: 0; right: 0;
    background-attachment: #ffffff;
    box-shadow: var(--box-shadow);
    z-index: 999;
    transition: background 1s ease;

}